body {
    font-family: "Montserrat";
    margin: 0;
}

a {
    width: fit-content;
}

button {
    font-family: "Montserrat";
}

.footer {
    height: 300px;
    background-color: gainsboro;
}

#note {
    color: gray;
    font-size: 12px;
    margin-top: 2px;
}

#root {
    margin-bottom: 50px;
}

/* --- navbar ---*/

.navbar {
    display: flex;
    justify-content: space-between;
    border-bottom: solid 1px;
    padding-block: 15px;
    padding-bottom: 15px;
    padding-inline: 10px;
}

.navbar #main {
    text-decoration: none;
    color: black;
    font-size: 18px;
    font-weight: 300;
    padding-inline: 10px;
    padding-bottom: 5px;
    background-image: linear-gradient(#000 0 0);
    background-position: 0 100%;
    background-size: 0% 1px;
    background-repeat: no-repeat;
    transition:
        background-size 0.25s,
        background-position 0s 0.25s;
}

.navbar #main:hover {
    background-position: 100% 100%;
    background-size: 100% 1px;
}

#sign-in {
    cursor: pointer;
    padding: 0;
    border: 0;
}

.profile-container {
    position: relative;
}

.profile-menu {
    flex-direction: column;
    align-items: center;
    position: absolute;
    width: 99%;
    gap: 10px;
    background-color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.profile-menu#opened {
    border-inline: solid 1px black;
    border-bottom: solid 1px black;
    width: 98.5%;
}

.profile-menu a {
    width: 80%;
    padding-block: 5px;
    text-decoration: none;
    color: black;
    background-color: #FFDECD;
    border: solid 1px gray;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 5px;
    font-size: 15px;
}

.profile-menu a:hover {
    text-decoration: underline;
}

.profile-menu a img {
    width: 25px;
}

#logged-in-button {
    background-color: white;
    border: none;
    cursor: pointer;
    min-width: 130px;
    padding: 5px;
    padding-top: 1px;
    padding-inline: 10px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#logged-in-button.opened {
    border-inline: solid 1px black;
    padding-inline: 9px;
    padding-top: 0px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-top: solid 1px black;
}

#logged-in-button p {
    margin: 0;
    font-family: "Montserrat";
    font-size: 15px;
    font-weight: 300;
}

#logged-in-button img {
    width: 25px;
}

#logged-in-button #normal {
    rotate: 0deg;
    transition-duration: 0.3s;
}

#logged-in-button #opened {
    rotate: 90deg;
    transition-duration: 0.3s;
}

#sign-out-button {
    cursor: pointer;
    width: 80%;
    padding-block: 5px;
    background-color: #FFDECD;
    border: solid 1px gray;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 5px;
    font-size: 15px;
}

#sign-out-button:hover {
    text-decoration: underline;
}

#sign-out-button img {
    width: 25px;
}

/* --- content --- */ 

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 30px;
}

.content .main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    min-height: 200px;
    padding-top: 50px;
    padding-bottom: 80px;
    background: linear-gradient(80deg, rgba(255, 235, 205, 1) 0%, rgba(255, 222, 205, 1) 100%);
}


.content h1 {
    font-size: 40px;
    margin-bottom: 80px;
}

.content .main h1 {
    font-size: 50px;
    font-weight: 200;
}

.content .main #or {
    margin-top: 50px;
}

.content h2 {
    font-weight: 300;
}

.content h3 {
    font-weight: 400;
}

/* --- search input --- */

.search-input {
    width: fit-content;
}

.search-input form {
    position: relative;
}

.search-input input {
    font-size: 25px;
    width: 300px;
    height: 30px;
}

/* --- input suggestions --- */

.input-suggestions {
    background-color: white;
    position: absolute;
    display: grid;
    width: 99%;
    text-align: left;
    z-index: 2;
    border-inline: solid 1px gray;
    border-bottom: solid 1px gray;
}

.input-suggestions p {
    padding: 5px;
    margin: 0;
    padding-right: 0;
    font-size: 14px;
}

.input-suggestions p:hover {
    cursor: pointer;
    background-color: gainsboro;
}

/* --- drinks --- */

.drinks{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 90vw;
    margin-top: 10px;
}

.drinklink {
    border: solid 1px darkgray;
    width: 150px;
    cursor: pointer;
    padding-top: 10px;
    margin-inline: 5px;
    margin-bottom: 10px;
}

.drinklink:hover {
    transition-duration: 0.3s;
    border: solid 1px gray;
    background-color: whitesmoke;
    
}

.drinklink p {
    font-size: 14px;
}

.drinklink-container {
    text-align: center;
}

/* --- Drink page --- */

.drink {

}

.drink h1 {
    text-align: center;
    font-weight: 400;
}

.drink h2 {
    font-weight: 400;
    font-size: 25px;
    padding-bottom: 5px;
    border-bottom: solid 1px gray;
}

.drink h3 {
    font-weight: 300;
    margin-bottom: 5px;
}

.drink-main {
    display: flex;
    justify-content: center;
    gap: 100px;
    flex-wrap: wrap;
}

.drink-row1 {
    align-self: center;
}

.drink-row2 {
    min-width: 300px;
}

.drink .stars {
    display: flex;
    justify-content: start;
    gap: 10px;
}

.drink .stars p {
    margin: auto;
    margin-inline: 0;
    width: fit-content;
}

.drink .stars button {
    height: fit-content;
    align-self: center;
    padding-inline: 3px;
    padding-block: 0;
    background-color: white;
    display: flex;
    border-radius: 5px;
    border: solid 1px gray;
    cursor: pointer;
}

.star-default {
    width: 25px;
    height: 25px;
}

.star-default path {
    fill: gray;
    
}

.star-on {
    width: 25px;
    height: 25px;
}

.star-on path {
    fill: rgb(238, 238, 8);
    
}

.ingredients {
    background-color: #eeeeee;
    max-width: fit-content;
    padding: 10px;
}

.ingredients li {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.ingredients li p{
    margin: auto;
    margin-bottom: 2px;
}

.ingredients li #ingredient-amount {
    margin-right: 0;
    margin-left: 0;
    min-width: 50px;
}

.ingredients li #ingredient-name {
    margin-left: 0;
    cursor: pointer;
    text-transform: capitalize;
}

.steps {
    background-color: #eeeeee;
    max-width: 300px;
    padding-inline: 10px;
    padding-block: 5px;
}

.others {

}

/* --- Create page --- */

.create-main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.create-main form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.create-container {
    display: flex;
    gap: 50px;
    flex-wrap: wrap;
    margin-top: 20px;
    margin-bottom: 30px;
    justify-content: center;
}

.create-main h1 {
    font-weight: 400;
    padding-inline: 20px;
    border-bottom: solid 1px gray;
    margin-bottom: 30px;
}

.create-main h2 {
    font-weight: 400;
    font-size: 25px;
    padding-bottom: 5px;
    border-bottom: solid 1px gray;
}

.create-main h3 {
    font-weight: 300;
    margin-bottom: 5px;
    margin-top: 0;
}

.create-main #drink-name-input {
    font-size: 20px;
    display: flex;
    justify-self: center;
}

/* - row 1 - */

.create-row1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.create-row1 .glass {
    width: fit-content;
}

.create-row1 .glass-options {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

/* - row 2 - */

.create-row2 {
    display: flex;
    flex-direction: column;
    gap: 50px;
    width: 420px;
}

.create-row2 .ingredient-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.create-row2 .ingredient-row-inputs {
    display: flex;
    gap: 5px;
}

.create-row2 #amount-input {
    width: 50px;
}

.create-row2 #amount-input::-webkit-outer-spin-button,
.create-row2 #amount-input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.create-row2 #unit-input {
    width: 50px;
}

.create-row2 .name-input-container {
    position: relative;
}

.create-row2 .step-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.create-row2 .step-row-input {
    width: 280px;
    display: flex;
    justify-content: space-between;
}

.create-row2 .step-row-input p {
    margin: 0;
    align-self: center;
}

.create-row2 .step-row-input textarea {
    width: 250px;
}

.create-row2 .step-row button {
    align-self: center;
}

.create-row2 #add-step {
    margin-left: 25px;
}

.create-main #create-button {
    padding-block: 15px;
    padding-inline: 40px;
    align-self: center;
    font-size: 18px;
}