.navbar {
    display: flex;
    justify-content: space-between;
    border-bottom: solid 1px;
}

.footer {
    height: 300px;
    background-color: gainsboro;
}

.drinks{
    display: flex;
}

.drinklink {
    border: solid 1px;
    width: 150px;
    cursor: pointer;
    margin-inline: 2px;
}

.drinklink-container {
    text-align: center;
}