body {
    font-family: "Montserrat";
}

a {
    width: fit-content;
}

.navbar {
    display: flex;
    justify-content: space-between;
    border-bottom: solid 1px;
}

.footer {
    height: 300px;
    background-color: gainsboro;
}

#note {
    color: gray;
    font-size: 12px;
    margin-top: 2px;
}

/* --- SIGN IN ---*/

#sign-in {
    cursor: pointer;
    padding: 0;
    border: 0;
}

.profile-container {
    position: relative;
}

.profile-menu {
    flex-direction: column;
    align-items: center;
    position: absolute;
    width: 100%;
    gap: 10px;
    background-color: gainsboro;
    padding-top: 20px;
    padding-bottom: 10px;
    border-bottom: solid 1px;
    border-inline: solid 1px;
}

/* --- --- */ 

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 30px;
}

.content h1 {
    font-size: 40px;
}

.content .main h1 {
    margin-bottom: 50px;
}

.search-input input {
    text-align: center;
    font-size: 25px;
    width: 300px;
    height: 30px;
}

.drinks{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.drinklink {
    border: solid 1px;
    width: 150px;
    cursor: pointer;
    margin-inline: 2px;
}

.drinklink-container {
    text-align: center;
}